.bg {
    background-image: url(background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;


}

.card {
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid;
    border-radius: 15px;
    backdrop-filter: blur(0.5px);
    width: 100%;
    max-width: 800px;
    box-shadow: 0 10px 30px rgb(44, 8, 75);
    transition: all ease 0.2s;


}

.card:hover {
    box-shadow: 10px 0 30px rgb(3, 58, 187);
    transform: translateY(20px);

}

.h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: burlywood;
    transition: all ease 0.2s;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.h2:hover {
    transform: translateY(5px);
    color: aqua;
}

.btn1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-size: 15px;


}

.btn1-icon {
    width: 20px;
    height: 20px;
}

.btn1:hover {
    color: aqua;
    background-color: rgb(32, 4, 57);
    box-shadow: 0 10px 30px rgb(95, 209, 254);

}

.btn2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-size: 15px;
}

.btn2-icon {
    width: 20px;
    height: 20px;
}

.btn2:hover {
    color: rgb(0, 94, 255);
    background-color: rgb(57, 4, 39);
    box-shadow: 0 10px 30px rgb(2, 31, 252);

}

.form-label {
    color: rgb(5, 5, 53);
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
    font-size: 15px;
}

.form-control {
    background-color: rgb(156, 246, 213);
    transition: all ease 0.3s;
    font-size: 15px;
    
}

.form-select {
    background-color: rgb(11, 140, 131);
    color: rgb(7, 7, 132);
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
    transition: all ease 0.3s;
    font-size: 15px;


}

.form-control:hover,
.form-select:hover {
    background-color: rgb(90, 122, 220);
    box-shadow: 10px 0 30px rgb(252, 54, 54);

}

.form-control:focus,
.form-select:focus {
    background-color: rgb(251, 254, 255);
    box-shadow: 10px 0 30px rgb(189, 54, 252);


}